<div class="card-columns">

  <div class="card" *ngFor="let cancion of items">
    <img [src]="cancion.album.images[0].url"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{cancion.name}}</h5>
      <span class="badge badge-pill badge-primary" (click)="irArtista(artista.id); nombreArtista(artista.name)" *ngFor="let artista of cancion.artists">{{artista.name}}</span>

      <!-- <audio class="mt-3" [src]="cancion.preview_url" controls></audio> -->

      <iframe [src]="cancion.id | domseguro: 'https://open.spotify.com/embed/track/' " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      <button *ngIf="isHome()" (click)="irParecidas(cancion.id)" class="btn btn-info btn-block mt-3">
        Ver canciones parecidas
      </button>
      
    </div>
  </div>
</div>


